
present/_source/code/merry-svg-christmas.zip

present/_source/code/merry-svg-christmas/css/style.css

present/_source/code/merry-svg-christmas/index.html

present/_source/code/merry-svg-christmas/js/index.js

present/_source/code/merry-svg-christmas/license.txt

present/_source/code/merry-svg-christmas/README.txt

present/_source/sounds/open-box.aif

present/_source/sounds/surprise.wav

present/_source/urls/Petr TIchy on CodePen.webloc

present/_source/urls/Freesound.org - "Short Crowd Cheer.flac" by qubodup.webloc

present/_source/urls/Freesound.org - "Audience Cheering" by unchaz.webloc

present/_source/urls/Free Christmas Carols > Jingle Bells - free mp3 audio song downl.webloc

present/_source/urls/AudioBufferSourceNode.start() - Web APIs | MDN.webloc

spectrogram/_source/spectrogram.zip
